.legend {
    position: absolute;
    z-index: 999;
    right: 15px;
    bottom: 750px;
    padding:20px 10px;
    box-shadow: 0 0 5px 0 rgba(184, 140, 140, 0.3);
    font-size:12px;
    letter-spacing:2px;
    background-color: white;
    border-radius:5px;
    width: 287px;
    border: 6px solid #0047AB;
}
.legend > div {
    color:black;
    position: relative;
    display: flex;
    height: 20px;
    padding: 0 10px;
}
.legend > div::before {
    content: "";
    background-color: var(--color);
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin-right: 5px;

}
@media (max-width: 768px) {
    .legend > div::before {
        width: 10px;
        height: 10px;


    }
    .legend {
        top:180px;
        left: 38px;
        bottom: 10px;
        font-size:10px;
        letter-spacing:0px;
        width: 100px;
        height:15%;
    }

}